.buttons {
  margin-top: 80px;
  @media screen and (max-width: 1366px) {
    margin-top: 50px;
  }
  .button {
    @media screen and (max-width: 425px) {
      margin-bottom: 30px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.button {
  width: 223px;
  height: 56px;
  margin-right: 30px;
  display: inline-block;
  text-align: center;
  color: $textColor;
  font: 600 17px/56px Nunito;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color, color 0.2s;
  @media screen and (max-width: 1366px) {
    width: 200px;
    height: 48px;
    font: 600 15px/48px Nunito;
  }
  &.yellow {
    background-color: #deba47;
  }
  &.white {
    background-color: #d2d2d2;
  }
  &:hover {
    color: #deba47;
    background-color: $textColor;
  }
}
