.page-header {
  h1 {
    margin: 0;
    display: inline-block;
    color: $textColor;
    font: 900 43px/58px Nunito;
    text-transform: uppercase;
    @media screen and (max-width: 1440px) {
      font: 900 35px/48px Nunito;
    }
  }
  .back-button {
    span {
      display: inline-block;
      width: 51px;
      height: 28px;
      background: transparent url("../../assets/images/back-icon.svg") 0% 0%
        no-repeat padding-box;
      margin-right: 40px;
      @media screen and (max-width: 1440px) {
        width: 41px;
        height: 22px;
        background-size: cover;
      }
    }
  }
}
