$textColor: #222;
$textColor2: #888;
$pColor: #3589cc;

.container {
  padding-top: 50px;
  width: 100%;
  max-width: 730px;
  padding-right: 20px;
  padding-left: 20px;
  margin: auto;
  text-align: center;
  .title {
    @media (max-width: 650px) {
      font-size: 50px;
    }
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 200;
    color: $textColor2;
    margin-bottom: 50px;
    margin-top: 0;
  }
  .box {
    margin-bottom: 50px;
    img {
      border-radius: 100%;
      width: 150px;
      height: 150px;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
        0 15px 12px rgba(0, 0, 0, 0.22);
    }
    h1 {
      font-size: 30px;
      margin-top: 30px;
      margin-bottom: 10px;
      color: $textColor;
    }
    span {
      color: $textColor2;
      font-size: 20px;
    }
    .coffee {
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 50px;
      color: $pColor;
    }
    .skills {
      line-height: 28px;
    }
  }
  .icons {
    position: relative;
    text-align: center;
    display: inline-block;
    top: 50px;
    padding-bottom: 50px;
    &:after {
      content: "";
      width: 200px;
      height: 1px;
      display: block;
      background-color: $textColor2;
      position: absolute;
      top: -50px;
      left: 50%;
      margin-left: -100px;
    }
    a {
      width: 40px;
      height: 40px;
      display: inline-block;
      color: $textColor;
      margin-right: 30px;
      &:hover {
        color: $pColor;
      }
      &:last-child {
        margin-right: 0;
      }
      svg {
        font-size: 30px;
      }
    }
  }
}
