$pColor: #3589cc;
$bxmarg: 65px;
$bxmarg2: 40px;

$themeColor: #deba47;
$background: #212121;
$textColor: #707070;
$textColor2: #6b6b6b;

@import "components/fonts";
@import "components/menu";

.hide {
  display: none;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: $background;
  * {
    box-sizing: border-box;
  }
  .container {
    padding-top: 100px;
    @media screen and (max-width: 1366px) {
      padding-top: 70px;
    }
    @media screen and (max-width: 425px) {
      padding-top: 30px;
    }
    .inner {
      max-width: 1640px;
      margin: auto;
      overflow: hidden;
      @media screen and (max-width: 1440px) {
        max-width: 1300px;
      }
      @media screen and (max-width: 1366px) {
        max-width: 1230px;
      }
      @media screen and (max-width: 1024px) {
        max-width: 600px;
      }
      @media screen and (max-width: 768px) {
        padding: 0 15px;
      }
    }

    @import "components/pageHeader";
    @import "components/homePaths";
    @import "components/header";
    @import "components/box";
    @import "components/buttons";
    @import "components/social";
    @import "components/photo";
    @import "components/portfolio";
    @import "components/services";
    @import "components/contact";
    @import "components/blog";
  }
}
